<div class="side-nav-cont">
  <div class="side-top-cont">
    <h3 class="font-weight-medium no-margin color-grey">Fitness First</h3>
    <small class="color-light-grey cursor-pointer">Padder Road &nbsp; <i class="mdi mdi-chevron-down theme-color"></i></small>
  </div>
  <ul class="side-nav-ul">
    <li class="active"><a routerLink="/"><i class="side-nav-icon theme-bg color-white mdi mdi-chart-line-variant"></i>Dashboard</a></li>
    <li><a><i class="side-nav-icon theme-bg color-white mdi mdi-account-multiple"></i>Customers</a></li>
    <li><a><i class="side-nav-icon theme-bg color-white mdi mdi-clipboard-pulse"></i>Marketing</a></li>
    <li><a><i class="side-nav-icon theme-bg color-white mdi mdi-account-settings-variant"></i>Administration</a></li>
  </ul>
</div>
