.nav{
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 0px 10px #aaa;
    position: fixed;
    z-index: 10;
}

.nav-brand{
      width: 15%;
}
.nav-brand > img{
    width: 100%;
    height: auto;
    max-width: 170px;
}
.nav-search-container{
    width: 65%;
}
.nav-search-container .search-input {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.nav-search-container .search{
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 5%/50%;
    background-color: #efefef;
    color: #4d4d4d;
    border: none;
}
.search:hover, .search:active, .search:visited{
    outline: none;
    border: none;
}
.setting-container{
    display: block;
    text-align:right;
    width: 20%;
}
.profile-thumb{
    width: 40px;
    height: 40px;
    margin: 0 8px;
    display: inline-block
}
.profile-date{
    margin: 10px 10px;
    color: #4d4d4d;
    display: inline-block;

}
.profile-thumb img{
    width: 100%;
    border-radius: 50%;
    margin: 0 10px;
}
.name-cont{
    width: 200px;
    background-color: #693e9c;
    border-radius: 100px;
    padding: 10px;
    left: -40px;
}

.search-result-container{
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #aaa;
    padding: 10px;
    z-index: 2;
    max-height: 270px;
    overflow: auto;
}
.search-list li{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}
.search-list li:hover{
    background-color: #f1f1f1;
}
.search-name-container{
    flex: 2;
    text-align: left;
    display: flex;
    
}
.search-type-container{
    flex: 1;
    text-align: right
}
span.status{
   
    display: inline-block;
    margin-right: 10px;
    
    margin-top: 4px;
}
span.status.circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
span.status.issue{
    background-color: red;
}
span.status.active{
    background-color: rgb(124, 218, 70);
}
span.status.inactive{
    background-color: rgb(150, 150, 150);
}
span.status.hot{
    color: red;
}
span.status.cold{
    color: orange;
}
.user-phone{
    color: rgb(140, 140, 140);
    font-style: italic;
    font-size: 12px
}