<div class="home-container">
  <div class="tabs-container">
      <mat-tab-group disableRipple class="example-stretched-tabs">
          <mat-tab label="Point of Sale">
            <app-point-of-sale></app-point-of-sale>
          </mat-tab>
          <mat-tab disabled label="Billing History">
            <app-billing-history></app-billing-history>
          </mat-tab>
        </mat-tab-group>
  </div>
  <div class="cart">
    <div class="cart-header">
      <p class="flex1 no-margin font-weight-bold">Plans</p>
      <p class="flex1 no-margin text-right font-weight-bold"> Price</p>
    </div>
    <app-cart></app-cart>
  </div>
</div>

